.headerBar{
    background-color: #ff9999;
    text-align: center;
    /* padding: 8px; */
    font-size: 1em;
    margin-left: 0px;
    margin-right: 0px;
}
.headerText{
    padding: 8px;
}
.flex-container{
    display: flex;
}
.left{
    width: 76%;
    margin: 16px;
}
.right{
    margin:16px;
}
.headerSecond{
    background-color: #ff9999;
    text-align: center;
   
    font-size: 1em;
    margin-left: 0px;
    margin-right: 0px;
   
  }
 